language: php

php:
    - 5.6
    - 7.0

before_script:
    - wget http://getcomposer.org/composer.phar
    - php composer.phar --prefer-source --prefer-lowest --prefer-stable update
    
    


    